*.doctree
*.pickle
*.pyc
docs/_build
htmlcov/
build/
previsionio.egg-info/
.coverage
.idea/
.ipynb_checkpoints/
.pytest_cache/
dist/
utests/personal_*.py
utests/*_analysis.json
utests/*.ipynb
sdk-venv/
/utests/*.csv

